.todo-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo-item .date {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #eaeaea;
  margin: 0;
}

.todo-item .details {
  display: flex;
  gap: 8px;
  align-items: center;
}

.todo-item.completed .details {
  text-decoration: line-through;
}

.todo-item .details.first-line {
  display: flex;
  justify-content: space-between;
}

.todo-item .checkbox {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  accent-color: #caff59;
  margin: 0;
}

.todo-item .title,
.todo-item .description {
  line-height: 150%;
  flex-grow: 1;
  margin: 0;
}

.todo-item .title {
  font-size: 18px;
  font-weight: 700;
  color: #877eed;
}

.todo-item .description {
  font-size: 16px;
  font-weight: 400;
  color: #eaeaea;
}

.todo-item .actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.todo-item .actions .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
}

.todo-item .actions .btn:hover svg path {
  fill: #504d4d;
}
