.button {
  width: 100%;
  height: 48px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-sm);
  border: none;
  margin: 10px auto 25px;
  padding: 12px 16px;
  color: var(--white-color);
  font-size: 16px;
  line-height: var(--line-height-lg);
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}
