.button {
  width: 100%;
  height: 48px;
  background-color: #877eed;
  border-radius: 5px;
  border: none;
  margin: 10px auto 25px;
  padding: 12px 16px;
  color: #ffffff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background-color: #544acb;
}
