.text-input {
    font-size: 16px;
    line-height: 150%;
    color: #EAEAEA;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    width: 360px;
    max-width: 100%;
    padding: 12px 42.5px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 10px;
}

.text-input::placeholder {
    color: #EAEAEA;
}
