.text-input {
  font-size: 16px;
  line-height: 150%;
  color: #eaeaea;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  width: 360px;
  max-width: 100%;
  padding: 12px 42.5px;
  text-align: center;
  background-color: transparent;
  margin-bottom: 10px;
}

.text-input::placeholder {
  color: #eaeaea;
}
