.text-input {
  font-size: 16px;
  line-height: var(--line-height-lg);
  color: var(--secondary-color);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--secondary-color);
  width: 360px;
  max-width: 100%;
  padding: 12px 42.5px;
  text-align: center;
  background-color: transparent;
  margin-bottom: 10px;
}

.text-input::placeholder {
  color: var(--secondary-color);
}

:focus {
  outline: 2px solid Highlight;
  outline-offset: 2px;
}
