.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: var(--line-height-sm);
  color: var(--tertiary-color);
}
