::backdrop {
  background-color: var(--dialog-bg-color);
  opacity: 0.85;
}

.dialog {
  background-color: var(--tertiary-color);
  border: none;
  border-radius: var(--border-radius-lg);
  padding: 16px;
}

.btn-close-wrapper {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dialog .body {
  padding: 10px 0;
}
