.select-input {
  font-size: 16px;
  line-height: 150%;
  color: #eaeaea;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  width: 360px;
  height: 47px;
  max-width: 100%;
  text-align: center;
  background-color: transparent;
  margin-bottom: 10px;
}

.select-input option {
  background-color: #1e1e1e;
}
