* {
  box-sizing: border-box;
}

:root {
  --primary-color: #877eed;
  --primary-color-hover: #544acb;
  --secondary-color: #eaeaea;
  --tertiary-color: #1e1e1e;
  --check-color: #caff59;
  --white-color: #ffffff;
  --dialog-bg-color: #504d4d;

  --border-radius-sm: 5px;
  --border-radius-lg: 16px;
  
  --line-height-sm: 120%;
  --line-height-lg: 150%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #403c3b;
  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}
